@charset "utf-8";

/*CSS Doc*/


h1 {
    font-family: 'Playfair Display';
}

h2 {
    font-family: 'Playfair Display';
}

h3 {
    font-family: 'Playfair Display';
}

p {
    font-family: 'Barlow';
}

